

.container {
  background-image:  url('../../assets/Images/ChefImage.png'),url('../../assets/Images/foodImage.png'),url('../../assets/Images/DesignElement.png'),url('../../assets/Images/Background.png');
  background-size: cover;

  background-size: 100%;
  background-repeat: no-repeat;
  height: 1725px;
 }


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
